@model IEnumerable<Forum.Models.Comment>
@using Forum.Views.Helpers

<div>
    <h3>Комментарии:</h3>
    @foreach (var item in Model)
            {
        <div>
            <b>@Html.DisplayFor(c => item.User.UserName)</b>
        </div>
        <div class="form-horizontal">
            <div id="@item.Id">
                @Html.DisplayFor(modelItem => item.Text)
            </div>
            <br />
            @if (User.Identity.Name == item.User?.UserName)
            {
                @Ajax.ActionLink("Изменить", "BeginChangeComment", "comment", new { commentId = item.Id },
               new AjaxOptions { UpdateTargetId = item.Id.ToString(), InsertionMode = InsertionMode.ReplaceWith },
               new { @class = "btn btn-default", @display = "inline-block" })
            }
            @Html.FormForAutorOrAdmin(item.User.UserName, "DeleteComment", "Comment", "Удалить", item, new { @display = "inline-block" })
        </div>
    }
</div>